.header-menu__nav {
  width: 70%;
  height: 40px;


  & .active {
    color: white;
  }

  ul {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    line-height: 40px;
    list-style: none;

    li {
      position: relative;

      &:hover > ul {
        display: block;
      }

      a {
        color: #999;
        font-size: 1.1rem;
        text-decoration: none;
        transition: ease-in-out color .2s;
        outline: 0 !important;

        i {
          margin-left: 10px;
        }

        &:hover {
          color: white;
        }
      }
    }

  }


}


.header-menu__nav  .subMenu {
  position: absolute;
  box-sizing: border-box;
  display: none;
  width: 170px;
  padding: 10px;
  list-style: none;
  background-color: #696969;
  box-shadow: 2px 2px 5px black, -2px 0 5px black;
  line-height: normal;
  height: auto;

  .subMenu {
    height: auto;
    top: -10px;
    right: -170px;
  }



  li {
    padding: 3px 0;
  }


}