.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 28px;


  .home-category {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px black,
    -1px 1px 1px black;
    padding: 5px 10px 20px;
    margin-bottom: 20px;
    background-color: rgba(218, 218, 218, 0.5);

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      text-align: center;
      padding-bottom: 5px;
      border-bottom: 2px solid #10055e;

      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: #d00;
        }

      }
    }
  }
}