.main-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  min-height: calc(100vh - 175px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}