.header-section_logo {
  text-align: center;
  margin: 0 20px;

  h1 {
    font-weight: normal;

    a {
      font-family: ChunkFive, Arial, sans-serif;
      font-size: 4rem;
      color: darkblue;
      white-space: nowrap;
    }
  }

}